# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

# uncomment to allow Windows to update battery level after pairing
# CONFIG_BT_GATT_ENFORCE_SUBSCRIPTION=n

# uncomment to stop ring buffer full warning in log
CONFIG_USB_CDC_ACM_LOG_LEVEL_WRN=y

if SHIELD_MY_BOARD

config ZMK_KEYBOARD_NAME
    default "void9"

endif

