/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        col-gpios
            = <&gpio1 GPIO_ACTIVE_HIGH>
            , <&gpio2 GPIO_ACTIVE_HIGH>
            , <&gpio3 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&gpio4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};
