  #include <behaviors.dtsi>
  #include <dt-bindings/zmk/keys.h>
  #include <dt-bindings/zmk/bt.h>
  #include <dt-bindings/zmk/ext_power.h>

  #define DEFAULT 0
  
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -------------------------------
// |   ESC   |  C/A/D  | Alt/Tab |
// |  SHFT   |  MUTE   | CTRL/L  | 
// |  CTRL   |   ALT   |  Space  | 
// -------------------------------
            bindings = < 
                        &kp ESC     &kp LC(LA(DEL))   &kp LA(TAB)  
                        &kp LSHFT   &kp C_MUTE          &kp A    
                        &kp LCTRL   &kp LALT          &kp SPACE
                        >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
