/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        col-gpios
            = <&pro_micro 1 GPIO_ACTIVE_HIGH>
            , <&pro_micro 2 GPIO_ACTIVE_HIGH>
            , <&pro_micro 3 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pico 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pico 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pico 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};
