/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#include <dt-bindings/zmk/matrix_transform.h>

/ {
	anduril_layout: layout {
		compatible = "zmk,physical-layout";
		display-name = "Anduril";
		layout = <
			&layout_grid
		>;
	};

	layout_grid {
		compatible = "zmk,layout";
		rows = <5>;
		columns = <10>;
	};
};
