config SHIELD_KLEIN_LEFT
    def_bool $(shields_list_contains,klein_left)
    select NFCT_PINS_AS_GPIOS
config SHIELD_KLEIN_RIGHT
    def_bool $(shields_list_contains,klein_right)  
    select NFCT_PINS_AS_GPIOS
