if SHIELD_KLEIN_LEFT

config ZMK_KEYBOARD_NAME
    default "klein"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    	default y

endif

if SHIELD_KLEIN_LEFT || SHIELD_KLEIN_RIGHT

config ZMK_SPLIT
    default y

endif
if ZMK_DISPLAY

config I2C
	default y

config SSD1306
	default y

config SSD1306_REVERSE_MODE
	default y

endif # ZMK_DISPLAY

if LVGL

endif # LVGL

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT
